<div class="form-check col-2" (click)="readCheck()">
    <input class="form-check-input" type="checkbox" value="" [checked]="read">
    <label class="form-check-label">Read</label>
</div>
<div class="form-check col-2" (click)="insertCheck()">
    <input class="form-check-input" type="checkbox" value="" [checked]="insert">
    <label class="form-check-label">Insert</label>
</div>
<div class="form-check col-2" (click)="updateCheck()">
    <input class="form-check-input" type="checkbox" value="" [checked]="update">
    <label class="form-check-label">Update</label>
</div>
<div class="form-check col-2" (click)="deleteCheck()">
    <input class="form-check-input" type="checkbox" value="" [checked]="delete">
    <label class="form-check-label">Delete</label>
</div>
