<div class="card bg-light mb-3" style="max-width: 18rem;">
<div class="card-header">Hostname : {{machine.hostname}}</div>
<div class="card-body">
    <form *ngIf="machine !== undefined" [formGroup]="form" (ngSubmit)="onSave()">
        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" formControlName="label" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.label.errors }" />
            <div *ngIf="submitted && f.label.errors" class="invalid-feedback">
                <div *ngIf="f.label.errors.required">Label is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="virtualizationSystem">Virtualization System</label>
            <input type="text" formControlName="virtualizationSystem" class="form-control" />
        </div>
        <div class="form-group">
            <button [disabled]="loading" *ngIf="this.accountService.omnisUpdatePermission" class="btn btn-secondary" type="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
            </button>
        </div>
    </form>
    <button [disabled]="loading2" class="btn btn-secondary" *ngIf="this.accountService.omnisDeletePermission"  (click)="onDelete()">
    <span *ngIf="loading2" class="spinner-border spinner-border-sm mr-1"></span>
    Delete
    </button>
</div>
</div>