.dropdown-item {
  color: black !important;
}

.dropdown-item:active {
  background-color: #AAAAAA;
}

.dropdown-item.active {
  background-color: #AAAAAA;
}

.box-alert {
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 10;
}
