<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" *ngIf="this.accountService.omnisReadPermission" routerLinkActive="active" routerLink="/map">Map</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" *ngIf="this.accountService.omnisReadPermission" routerLinkActive="active" routerLink="/inventaire" >Inventaire</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/notifications">Notifications</a>
            </li>
            <li class="nav-item dropdown" *ngIf="this.accountService.oneAdminReadPermision">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin </a>
                <div class="dropdown-menu">
                  <a class="nav-link dropdown-item" routerLinkActive="active"  *ngIf="this.accountService.pendingMachinesReadPermission" routerLink="/admin/machines">Pending Machines</a>
                  <a class="nav-link dropdown-item" routerLinkActive="active" *ngIf="this.accountService.usersReadPermission" routerLink="/admin/users">Users</a>
                  <a class="nav-link dropdown-item" routerLinkActive="active" *ngIf="this.accountService.rolesReadPermission" routerLink="/admin/roles">Roles</a>
                </div>
              </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
